.content-delete {
  background-color: transparent;
  position: fixed;
  display: none;
  z-index: 999;
  top: 250px;
  border: #000 solid 1px;
  border-radius: 5px;
  box-shadow: inset #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container-delete {
  background-color: #fff;
  width: 500px;
  height: 250px;
  align-items: center;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}
.delete-pic{
  width: 100px;
  height: 150px;
  display: block;
  align-items: center;
  margin-top: -40px;
}
.you {
  color: #000;
  font-family: Sora;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
  text-align: center;
  margin-top: -40px;
}
/* .cancelcancel {
  width: 142px;
  height: 60px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: #0049d7;
  margin-left: 10px;
} */
.ddelete {
  width: 142px;
  height: 60px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: #f00;
}
button {
  justify-content: center;
}
